{% load static %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{{ recept.naam }}</title>
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}" media="all">
</head>
<body class="pdf-versie">

  <!-- Recept titel -->
    <div class="titel-card">
        <div class="card-header">{{ recept.naam }}</div>
    </div>

      
     <div class="foto" >
      {% if foto_pad %}
      <img src="{{ foto_pad }}" alt="Foto van {{ recept.naam }}" >
      {% else %}
         <p class="no-foto">Geen foto beschikbaar.</p>
      {% endif %}
     </div>

     <!-- Recept details -->
     <div class="recept-meta">
          <div class="meta-item">
            <strong>Categorie:</strong> {{ recept.get_categorie_display }}
          </div>
          <div class="meta-item">
            <strong>Moeilijkheid:</strong> {{ recept.get_moeilijkheidsgraad_display }}
          </div>
          <div class="meta-item">
            <strong>Baktijd:</strong> {{ recept.baktijd }}
          </div>
     </div>


    <!-- Body -->
    <div class="recept-body">
     <div class="recept-row">
      <!-- Ingrediënten -->
       <div class="recept-card ingredienten-card">
               <div class="card-header"> Ingrediënten </div>
          <div class="card-body">
            <ul class="card-body">
              {% for ri in recept.receptingredient_set.all %}
                <li>{{ ri.hoeveelheid }} {{ ri.ingredient.naam }}</li>
              {% empty %}
                <li><em>Geen ingrediënten toegevoegd.</em></li>
              {% endfor %}
            </ul>
          </div>
       </div>
      <!-- Bereidingswijze -->
       <div class="recept-card bereiding-card">
          <div class="card-header">
            Bereidingswijze
          </div>
          <div class="card-body">
            <p>{{ recept.bereidingswijze|linebreaks }}</p>
          </div>
        </div>
     </div>
    </div>

</body>
</html>

<script>
  console.log("Foto pad:", "{{ foto_pad|escapejs }}");
</script>

